<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/prism.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboles binarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container" >
        
        <h1>Arbol binario</h1>
        <a href="{{url_for('ArbolBinarioP')}}" class="myButton2" >Python</a>
       
        <pre>
            <code class="language-css" >
                import javax.print.DocFlavor;

                public class BinTree {
                public Node root;
                
                public BinTree(){this.root = null;}
                
                
                public BinTree(Object object){
                    this.root = subBinTree(null, object, null);
                }
                
                public Node subBinTree(Node left,Object object,Node right){return new Node(left,object,right);}
                
                public boolean isEmpty(){return root ==null;}
                
                public boolean insertleft(Object object){
                    try{
                        if(!isEmpty()){
                            root.left = subBinTree(null,object,null);
                            return true;
                        } else{
                            return false;
                        } 
                    }catch(Exception e){
                        e.printStackTrace();
                        return false;
                    }
                }
                
                public boolean insertright(Object object){
                    try{
                        if(!isEmpty()){
                            root.right = subBinTree(null,object,null);
                            return true;
                        } else{
                            return false;
                        } 
                    }catch(Exception e){
                        e.printStackTrace();
                        return false;
                    }
                }
                
                public String preOrder(Node root){
                    String obj ="";
                    obj += (root.object instanceof Node) ? ((Node) root.object).object.toString() : root.object.toString();
                    obj += ((root.left != null) ? preOrder(root.left) : "");
                    obj += ((root.right != null) ? preOrder(root.right) : "");
                    return obj;
                }
                
                public String inOrder(Node root){
                    String obj ="";
                    obj += ((root.left != null) ? inOrder(root.left) : "");
                    obj += (root.object instanceof Node) ? ((Node) root.object).object.toString() : root.object.toString();
                    obj += ((root.right != null) ? inOrder(root.right) : "");
                    return obj;
                }
                
                public String posOrder(Node root){
                    String obj ="";
                    obj += ((root.left != null) ? posOrder(root.left) : "");
                    obj += ((root.right != null) ? posOrder(root.right) : "");
                    obj += (root.object instanceof Node) ? ((Node) root.object).object.toString() : root.object.toString();
                    return obj;
                }
                
                public Node busqueda(int object){
                    return busqueda(object,root);
                }
                
                private Node busqueda(int object, Node root){
                    if(root != null){
                        if(object == (int)root.object){
                            return root;
                        }else if(object < (int)root.object){
                            return busqueda(object,root.left);
                        }else{
                            return busqueda(object,root.right);
                        }
                    }else{
                        return null;
                    }
                }
                
                public void insertar(int object){
                    root = insertar(object,root);
                }
                
                private Node insertar(int object,Node root){
                    if(root != null){
                        if(object < (int)root.object){
                            root.left = insertar(object,root.left);
                        }else if(object > (int)root.object){
                            root.right = insertar(object,root.right);
                        }else{
                            return null;
                        }
                    }else{
                        root = new Node(object);
                    }
                    return root;
                }
                
                //Tomado y adaptado de estructuras de datos en c de Joyanes Aguilar.
                public void eliminarNodo(int object){
                    root = eliminar(object,root);
                }
                //Tomado y adaptado de estructuras de datos en c de Joyanes Aguilar.
                private Node eliminar(int object, Node root){
                    if(root == null){
                        return null;
                    }else if(object < (int)root.object){
                        root.left = eliminar(object,root.left);
                    }else if(object > (int)root.object){
                        root.right = eliminar(object,root.right);
                    }
                    else{
                    Node a = root;
            
                    if(a.left == null){
                        root = a.right;
                    } else if(a.right == null){
                        root = a.left;
                    } else{
                        a  = reemplazarNodos(a);
                    }
                    a = null;
                    }
                    return root;
                    
                }
                //Tomado y adaptado de estructuras de datos en c de Joyanes Aguilar.
                private Node reemplazarNodos(Node re){
                    Node a,b;
                    b = re;
                    a = re.right;
                    while(a.right != null){
                        b = a;
                        a = a.right;
                    }
                    re.object = a.object;
                    if(b==re){
                        b.left = a.right;
                    }else{
                        b.right = a.left;
                    }
                    return a;
                }

            }
            </code>
        </pre>
        
        <br>
        <p><a href="/downloads/java/ArbolBinario.rar" download="ArbolBinario.rar" >Descargar código</a> </p>
    </div>
    <script src="/javascript/prism.js"></script> 
</body>
</html>