<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboles n-arios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container" >
        
        <h1>Hola</h1>
       
        <a href="/downloads/hi.txt" download="codearray" >Descargar código</a> 
    </div>
    <script src="/javascript/prism.js"></script>
<!--Footer-->   
<div class="footer">     
    <div class="card-body" style="background-color:rgb(212, 212, 212)" >
    <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
        <p class="small m-0" >Omar Freddy Nova Bustamante</p>
        <p class="small m-0" >Juan Esteban Páez Albarracín</p>
        <p class="small " >Jossyr Rafael Pinto Caddevila</p>
    </div>       
</div> 
<!--Footer-->
</body>   
<script src="{{url_for('static', filename='javascript/menu.js')}}"></script>
<script src="{{url_for('static', filename='javascript/prism.js')}}"></script>
</html>