{% extends "layout.html" %}

{% block content %}

    <head><title>Colas</title></head>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li> 
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container" >
        
        <h1>ListQueue</h1>
        
        <a href="{{url_for('colap')}}" class="myButton2" >Implementacion Python</a>
        <a href="{{url_for('colaC')}}" class="myButton" >Implementacion C++</a>
        <pre>
            <code class="language-css" >
                public class ListQueue implements QueueInterface {


                    private int size;
                    private ListNode top;
                    private ListNode bot;
                    
                    
                    public ListQueue() {
                        clear();
                    }
            </code>
            
        </pre>
        <p> Este método es utilizado para limpiar la lista.</p>

        
        <pre>
            <code class="language-css">

            </code>
        </pre>
        <p></p>

        <pre>
            <code class="language-css">
                @Override
                public void clear() {
                    size = 0;
                    top = null;
                    bot = null;
                }
            </code>
        </pre>
        <p>Inicialización de las variables</p>

        <pre>
            <code class="language-css">
                @Override
                public boolean isEmpty() {
                    return top == null;
                }
            </code>
        </pre>
        <p>Verifica si la cola está vacía</p>

        <pre>
            <code class="language-css">
                @Override
                public Object extract() {
                    try{
                        if(!isEmpty()){
                            Object a = top.getObject();
                            top = top.next;
                            size--;
                            return a;
                        }else{
                            return null;
                        }    
                    }catch(Exception e){
                        return null;
                    }
            
                }
            </code>
        </pre>
        <p>Extrae el primer elemento añadido y lo elimina</p>

        <pre>
            <code class="language-css">
                @Override
                public boolean insert(Object object) {
                    try{
                        ListNode nodoInsertado = new ListNode(object);
                        if(!isEmpty()){
                            bot.next = nodoInsertado;
                        }else{
                            top = nodoInsertado;
                        }
                        bot = nodoInsertado;
                        size++;
                        return true;
                    }catch(Exception e){
                        return false;
                    }
                }
            </code>
        </pre>
        <p>Inserta un nuevo nodo a la cola</p>

        <pre>
            <code class="language-css">
                @Override
                public int size() {
                    return size;
                }
            </code>
        </pre>
        <p>Permite retornar el tamaño de la cola</p>

        <pre>
            <code class="language-css">
                @Override
                public boolean search(Object object) {
                    
                    try{
                        if(!isEmpty()){
                            ListNode a = top;
                            while(a != null){
                                if(a.getObject().equals(object)){
                                    return true;
                                }
                                a = a.next;
                            }
                            return false;
                        }else{
                            return false;
                        }
                    }catch(Exception e){
                        return false;
                    }
                }
            </code>
        </pre>
        <p>Permite buscar un elemento especifico de la cola.</p>

        <pre>
            <code class="language-css">
                @Override
                public void sort() {
                    try{
                        Object[] arreglo = new Object[size];
                        ListNode a = top;
                        for (int i = 0; i < size; i++) {
                            arreglo[i] = a.getObject();
                            a = a.next;
                        }
                        java.util.Arrays.sort(arreglo);
                        top = null;
                        for (int i = 0; i < arreglo.length; i++) {
                            insert(arreglo[i]);
                        }
                        
                    }catch(Exception e){
                        
                    }
                }
            </code>
        </pre>
        <p>Este método permite ordenar los elementos de la cola por medio de un arreglo</p>

        <pre>
            <code class="language-css">
                @Override
                public void reverse() {
                    if(!isEmpty()){
                        Object[] array = new Object[size];
                        ListNode a = top;
                        for (int i = 0; i < size; i++) {
                            array[i] = a.getObject();
                            a = a.next;
                        }
                        top = null;
                        for (int i = array.length-1; i > -1; i--) {
                            insert(array[i]);
                        }
                        
                    }
                }
            </code>
        </pre>
        <p>Permite mostrar los elementos de la cola de manera inversa</p>

        <pre>
            <code class="language-css">
                @Override
                public String toString() {
                    if(!isEmpty()){
                        return top.toString();
                    }else{
                        return null;
                    }
                    
                }
                
            }
            </code>
        </pre>
        <p></p>
        
        <br>
        <a href="{{url_for('static', filename='/downloads/java/queue.rar')}}" download="queue.rar" >Descargar código</a> 
    </div>
<!--Footer-->   
<div class="footer">     
    <div class="card-body" style="background-color:rgb(212, 212, 212)" >
    <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
        <p class="small m-0" >Omar Freddy Nova Bustamante</p>
        <p class="small m-0" >Juan Esteban Páez Albarracín</p>
        <p class="small " >Jossyr Rafael Pinto Caddevila</p>
    </div>       
</div> 
<!--Footer-->


{% endblock %}