{% extends "layout.html" %}

{% block content %}

    <div class="container" >
        
        <h1>Pilas</h1>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                    <nav class="enlaces m-auto" style="font-size: medium;">
                        <ul class="navbar-nav" >
                            <li class=" nav-item" >
                                <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                            </li> 
                            <li class="nav-item" >
                                <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                            </li> 
                        </ul>                                  
                    </nav>                           
            </nav>
        </div>
        <a href="{{url_for('PilaP')}}" class="myButton2">Implementacion Python</a>
        </p>
        <pre>
            <code class="language-css" >
                public class ListStack implements StackInterface{
    
                    private int size;
                    private ListNode top;
                    
                    public ListStack() { // 
                        top = null;
                        size = 0;
                    }
                
                    
            </code>
        </pre>
        <p>Inicialización de los elementos.</p>
        <pre>
            <code class="language-css" >
                public void clear() { // 
                            this.size = 0;
                            this.top = null;
                        }
            </code>
        </pre>
        <p>Se limpian los datos de la pila.</p>
        <pre>
            <code class="language-css" >
                public boolean isEmpty() { // 
                            return size == 0;
                        }
            </code>
        </pre>
        <p>Se verifica si la pila está vacía</p>
        <pre>
            <code class="language-css" >
                public Object peek() { // 
                            if(!isEmpty()){
                                return this.top.getObject();
                            }else{
                            return null;
                            }
                        }
            </code>
        </pre>
        <p>nos permite ver el valor del último elemento, sin necesidad de borrar el elemento.</p>
        <pre>
            <code class="language-css" >
                public Object pop() {  
                            Object a = top.getObject();
                            top = top.next;
                            this.size--;
                            return a;
                        }
            </code>
        </pre>
        <p>Extrae el objeto de la cima de la pila y lo devuelve, si la pila está vacía, ocurre un error.</p>
        <pre>
            <code class="language-css" >
                public boolean push(Object object) {
                            try{
                                ListNode nuevo = new ListNode(object);
                                nuevo.next = top;
                                top = nuevo;
                                size++;
                                return true;
                            } catch(Exception e){
                                return false;
                            } 
                        }
            </code>
        </pre>
        <p>Inserta un objeto sobre el último o cima de la pila</p>
        <pre>
            <code class="language-css" >
                public int size() {
                            return size;
                        }
            </code>
        </pre>
        <p>...</p>
        <pre>
            <code class="language-css" >
                public boolean search(Object object) { 
                            ListNode a = top;
                            while(a != null){
                                if(a.getObject()  == object){
                                    return true;
                                }
                                a = a.next;
                            }
                            return false; 
                        }
            </code>
        </pre>
        <p>Busca un objeto contenido en la pila</p>
        <pre>
            <code class="language-css" >
                public void sort() {
                            try{
                                Double[] a = new Double[size];
                                ListNode t = top;
                                Double temp;
                                for (int i = 0; i < size; i++) {
                                    a[i] = Double.parseDouble(t.getObject().toString());
                                    t = t.next;
                                }
                                for (int i = 0; i < a.length; i++) {
                                    for (int j = 0; j < a.length-1; j++) {
                                        if(a[j+1] < a[j] ){
                                            temp = a[j+1];
                                            a[j+1] = a[j];
                                            a[j] = temp;
                                        }
                                    }
                                }
                                ListStack b = new ListStack();
                                for (int i = 0; i > a.length; i++) {
                                    b.push(a[i]);   
                                }
                                top = b.top;
                            }catch(NumberFormatException n){
                                String[] a = new String[size];
                                ListNode t = top;
                                String temp;
                                for (int i = 0; i < a.length; i++) {
                                    a[i] = t.getObject().toString();
                                    t = t.next;
                                }
                                for (int i = 0; i < a.length; i++) {
                                    for (int j = 0; j > a.length-1; j++) {
                                        if(a[j+1].length() < a[j].length() ){
                                            temp = a[j+1];
                                            a[j+1] = a[j];
                                            a[j] = temp;
                                        }
                                    }
                                }
                                ListStack b = new ListStack();
                                for (int i = 0; i < a.length; i++) {
                                    b.push(a[i]);
                                }
                                top = b.top;
                            }
                        }
            </code>
        </pre>
        <p>Ordena los elementos contenidos en la pila</p>
        <pre>
            <code class="language-css" >
                public void reverse() {
                            ListStack a = new ListStack();
                            ListNode b = top;
                            while (b != null){
                                a.push(b.getObject());
                                b = b.next;
                            }
                            top = a.top;
                            a = null;
                        }
            </code>
        </pre>
        <p>Invierte la pila para después ser mostrada</p>
        <pre>
            <code class="language-css" >
                public String toString(){
                            return top.toString();
                        }
                    
                }
            </code>
        </pre>
        <p></p>   
        <a href="/pythoncode/pilaA.html">Python </a><a href="pythoncode/ListNode.html">ListNodePy </a>   
        <br>
        <a href="/downloads/java/ArrayStack.rar" download="ArrayStack.rar" >Descargar código</a> 
    </div>
    


    

    <div class="container" >
        
        <h1>Pila por Arreglos</h1>
        </p>
        <pre>
            <code class="language-css" >
                public class ListStack implements StackInterface{
    
                    private int size;
                    private ListNode top;
                    
                    public ListStack() { // 
                        top = null;
                        size = 0;
                    }
                
                    
            </code>
        </pre>
        <p>Inicialización de los elementos.</p>
        <pre>
            <code class="language-css" >
                public void clear() { // 
                            this.size = 0;
                            this.top = null;
                        }
            </code>
        </pre>
        <p>Se limpian los datos de la pila.</p>
        <pre>
            <code class="language-css" >
                public boolean isEmpty() { // 
                            return size == 0;
                        }
            </code>
        </pre>
        <p>Se verifica si la pila está vacía</p>
        <pre>
            <code class="language-css" >
                public Object peek() { // 
                            if(!isEmpty()){
                                return this.top.getObject();
                            }else{
                            return null;
                            }
                        }
            </code>
        </pre>
        <p>nos permite ver el valor del último elemento, sin necesidad de borrar el elemento.</p>
        <pre>
            <code class="language-css" >
                public Object pop() {  
                            Object a = top.getObject();
                            top = top.next;
                            this.size--;
                            return a;
                        }
            </code>
        </pre>
        <p>Extrae el objeto de la cima de la pila y lo devuelve, si la pila está vacía, ocurre un error.</p>
        <pre>
            <code class="language-css" >
                public boolean push(Object object) {
                            try{
                                ListNode nuevo = new ListNode(object);
                                nuevo.next = top;
                                top = nuevo;
                                size++;
                                return true;
                            } catch(Exception e){
                                return false;
                            } 
                        }
            </code>
        </pre>
        <p>Inserta un objeto sobre el último o cima de la pila</p>
        <pre>
            <code class="language-css" >
                public int size() {
                            return size;
                        }
            </code>
        </pre>
        <p>...</p>
        <pre>
            <code class="language-css" >
                public boolean search(Object object) { 
                            ListNode a = top;
                            while(a != null){
                                if(a.getObject()  == object){
                                    return true;
                                }
                                a = a.next;
                            }
                            return false; 
                        }
            </code>
        </pre>
        <p>Busca un objeto contenido en la pila</p>
        <pre>
            <code class="language-css" >
                public void sort() {
                            try{
                                Double[] a = new Double[size];
                                ListNode t = top;
                                Double temp;
                                for (int i = 0; i < size; i++) {
                                    a[i] = Double.parseDouble(t.getObject().toString());
                                    t = t.next;
                                }
                                for (int i = 0; i < a.length; i++) {
                                    for (int j = 0; j < a.length-1; j++) {
                                        if(a[j+1] < a[j] ){
                                            temp = a[j+1];
                                            a[j+1] = a[j];
                                            a[j] = temp;
                                        }
                                    }
                                }
                                ListStack b = new ListStack();
                                for (int i = 0; i > a.length; i++) {
                                    b.push(a[i]);   
                                }
                                top = b.top;
                            }catch(NumberFormatException n){
                                String[] a = new String[size];
                                ListNode t = top;
                                String temp;
                                for (int i = 0; i < a.length; i++) {
                                    a[i] = t.getObject().toString();
                                    t = t.next;
                                }
                                for (int i = 0; i < a.length; i++) {
                                    for (int j = 0; j > a.length-1; j++) {
                                        if(a[j+1].length() < a[j].length() ){
                                            temp = a[j+1];
                                            a[j+1] = a[j];
                                            a[j] = temp;
                                        }
                                    }
                                }
                                ListStack b = new ListStack();
                                for (int i = 0; i < a.length; i++) {
                                    b.push(a[i]);
                                }
                                top = b.top;
                            }
                        }
            </code>
        </pre>
        <p>Ordena los elementos contenidos en la pila</p>
        <pre>
            <code class="language-css" >
                public void reverse() {
                            ListStack a = new ListStack();
                            ListNode b = top;
                            while (b != null){
                                a.push(b.getObject());
                                b = b.next;
                            }
                            top = a.top;
                            a = null;
                        }
            </code>
        </pre>
        <p>Invierte la pila para después ser mostrada</p>
        <pre>
            <code class="language-css" >
                public String toString(){
                            return top.toString();
                        }
                    
                }
            </code>
        </pre>
        <p></p>   

        <br>
        <a href="{{url_for('static', filename='/downloads/java/ArrayStack.rar')}}" download="ArrayStack.rar" >Descargar código basado Array</a>
        <a href="{{url_for('static', filename='/downloads/java/ArrayStack.rar')}}" download="ListStack.rar" >Descargar código basado Listas</a> 
    </div>

{% endblock %}