<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='prism.css')}}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Estructura de Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="img-style/descarga.png">
</head>

<body>
      <!--Content-->
      <div class="container">
            <hr>
            <!--Sección de Arboles Binarios-->
            <!--Sección de Arboles n-arios-->
            <section class="container" id="ListasSE" >
                <h2 class="subtitulo">Listas Doblemente Enlazada</h2>
                <div class="center">
                    <img src="{{url_for('static', filename='Img-datos/listadobleenlazada.png')}}" class="img-center" alt="" id="imgEstructura">                                          
                </div>  
                    <cite>Fig3: </cite> <p></p>
                    
                    <p>Este tipo de lista permite ir en ambas direcciones, hacia adelante y hacia atrás en la lista. Esta lista permite una gran variedad de operaciones rápidas de actualización, incluyendo la inserción y el borrado en ambos extremos y a su vez en el centro. Un nodo en una lista doblemente enlazada guarda dos referencias, un enlace siguiente el cual apunta al siguiente nodo en la lista, y un enlace previo el cual apunta al nodo anterior de la lista.</p>
                    <br>
                    <div class="center">
                        <img src="{{url_for('static', filename='Img-datos/ListaD.png')}}" class="img-center" alt="" id= "imgAnario" height="120px" width="200px">
                    </div>
                    <p>
                        La ventaja que proporciona esta estructura es la operación de búsqueda e inserción, recorriendo hacia atrás de manera inmediata.
                        <p></p>
                        
                    </p>
                    <a href="{{url_for('listade')}}">Ver código</a>

        <br>
        <a href="{{url_for('static', filename='downloads/java/ListaDoble.rar')}}" download="ListaDoble.rar" >Descargar código</a>
            </section>   
      </div>
      <!--Content-->       

</body>

    <script src="{{url_for('static', filename='javascript/menu.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/prism.js')}}"></script>
</html>
