
.center{
    height: 320px;
    position: relative;
  }
.img-center {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact-us{
    position: fixed;

    bottom: 0;

    width: 100%;

    height: auto;

    padding-bottom: 16px;

    background: rgba(173, 173, 173, 0.3);

    background: rgba(173, 173, 173, 0.3);

    z-index:2000;
}
.sintesis   {
    left: auto;
}
:root{
  scroll-behavior: smooth;
}


.footer {
        height: 100px;
    }

.integrantes{
  width:200px;
  float:left;
  margin:10px 0 10px 5px;
  height:350px;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

.hamburguesa  {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  background-color:white ;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0 , 0 , 0 ,.5);
}
.menu{
  font-style: unset;
  position: fixed;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100%;
  background: linear-gradient(to top, #D3D3D3 100%, #D3D3D3 0%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: transform .3s ease-in-out;
  transform: translate(110%);
  align-items: center;
  box-shadow: 0 0 6px rgba(0 , 0 , 0 ,.5);
}
.spread {
  transform: translate(0);
}
.menu {
  color: #fff;
  text-decoration: none;
}
.icon {
  top: 30%;
  right: 0;
  left: 30%;
  transform: translate(35%,0%);

}
table {
  width:80%;
  border: 1px solid #000;
}
th, td {
  width: 0%;
  text-align: left;
  vertical-align: top;
  border: 1px solid black;
  
}
cite  {
  height:unset ;
  position: relative;
  top: auto;
  left: 5%;
}
.myButton {
  box-shadow: 3px 4px 0px 0px #213b8a;
  background:linear-gradient(to bottom, #4020c4 5%, #3850f0 100%);
  background-color:#4020c4;
  border-radius:18px;
  border:1px solid #3a1ab8;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow: 0px 1px 0px #054b80;
  
 }
 .myButton:hover {
  background:linear-gradient(to bottom, #3850f0 5%, #4020c4 100%);
  background-color:#3850f0;
  text-decoration:none;
 }
 .myButton:active {
  position:relative;
  text-decoration:none;
  top:1px;

 }
 .myButton2 {
  box-shadow: 3px 4px 0px 0px #728a21;
  background:linear-gradient(to bottom, #c2b523 5%, #f0cb39 100%);
  background-color:#c2b523;
  border-radius:18px;
  border:1px solid #b8b01b;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #788005;
  
 }
 .myButton2:hover {
  background:linear-gradient(to bottom, #f0cb39 5%, #c2b523 100%);
  background-color:#f0cb39;
  text-decoration:none;
 }
 .myButton2:active {
  position:relative;
  text-decoration:none;
  top:1px;
 }


