<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='prism.css')}}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transformaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="img-style/descarga.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container" >
        

        <form class="file-container m-auto text-center" action="/Grafo" method="POST" enctype="multipart/form-data" >
            <h1 style="padding: 3rem 1.5rem;text-align: center;font-size: 40px;font-family: Arial, Helvetica, sans-serif;">Analizar Código Python</h1>
            
            <input type="file" name="archivo" accept=".py"style="padding: 0.1rem 1.5rem;text-align: center;" >
            <input class="myButton2" type="submit" value="Analizar" style="position: relative;top: 50px;left: -180px;">
        </form>
    </div>
    <div class="container" style="padding: 3rem 1.5rem" >
        

        <form class="file-container m-auto text-center" action="/Grafo" method="POST" enctype="multipart/form-data" >
            <h1 style="padding: 3rem 1.5rem;text-align: center;font-size: 40px;font-family: Arial, Helvetica, sans-serif;">Analizar Metalenguaje JSON</h1>
            
            <input type="file" name="archivo" accept=".py"style="padding: 0.1rem 1.5rem;text-align: center;" >
            <input class="myButton2" type="submit" value="Analizar" style="position: relative;top: 50px;left: -180px;">
        </form>
    </div>
    <div class="footer">     
        <div class="card-body" style="background-color:rgb(212, 212, 212)" >
        <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
            <p class="small m-0" >Omar Freddy Nova Bustamante</p>
            <p class="small m-0" >Juan Esteban Páez Albarracín</p>
            <p class="small " >Jossyr Rafael Pinto Caddevila</p>
        </div>       
    </div> 
    <!--Footer-->
</body>   
    <script src="{{url_for('static', filename='javascript/menu.js')}}"></script>
      
</html>