{% extends "layout.html" %}
{% block content %}

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
            <nav class="enlaces m-auto" style="font-size: medium;">
                <ul class="navbar-nav" >
                    <li class=" nav-item" >
                        <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                    </li> 
                    <li class="nav-item" >
                        <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                    </li> 
                </ul>                                  
            </nav>                           
    </nav>
</div>
<div class="container">
    <img height="800" width="1000" src="{{url_for('static',filename='GraphXML.png')}}" alt="Grafo">
    <p></p>
    <p></p>
    <p></p>
    <table class="default">
        <tr>           
            <th>Color</th>
            <th>Significado</th>
        </tr>
        <tr>
            <td>Rojo</td>
            <td>Clases</td>
        </tr>
        <tr>
            <td>Amarillo</td>
            <td>Métodos</td>
        </tr>
        <tr>
            <td>Azul</td>
            <td>Atributos</td>
        </tr>
    </table>
    <p></p>
<p></p>

</div>
  

    <div class="footer">     
        <div class="card-body" style="background-color:rgb(212, 212, 212)" >
        <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
            <p class="small m-0" >Omar Freddy Nova Bustamante</p>
            <p class="small m-0" >Juan Esteban Páez Albarracín</p>
            <p class="small " >Jossyr Rafael Pinto Caddevila</p>
        </div>       
    </div>
    
{% endblock %}