<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='prism.css')}}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Estructura de Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="img-style/descarga.png">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container" >
         <!--Tema principal-->
        <h2 class="my-5 text-center text-primary" >Estructura de Datos</h2>
        <hr>
        <!---->
        <div class="row" ></div> 
        <!--Sección de inicio-->
        <section class="container" id="Inicio" >
            <h2 class="subtitulo">¿Qué es una estructura de datos?</h2>
            <div class="center">
                <img src="{{url_for('static', filename='Img-datos/estructuradedatos.png')}}" class="img-center" alt="" id= "imgEstructura" >  
                                                       
            </div>   
            <cite>Fig1: https://estructurayorganizaciondedatos.blogspot.com/2013/09/unidad-i-fundamentos-de-estructura-de.html</cite> <p></p>
             <p>Una estructura de datos es una forma de organizar un conjunto de datos elementales con el objetivo de facilitar su manipulación. 
                Una estructura de datos define la organización de estos y un conjunto de operaciones que se pueden realizar sobre ellos.
                <br>
                Ventajas: 
                <br>
                -	Permite modificar “Globalmente” las variables sin necesidad de recorrer el código buscando cada uno de ellos.
                <br>
                -	Define variables y evita que cambien entre rutinas.
                <br>
                -	Separa desde el inicio del programa el espacio en memoria.
                <br>
                -	Se trabaja más fácil el paso de datos entre aplicaciones.
                <br>
                <br>
                Desventajas:
                <br>
                -	Puede causar confusión al intentar unir o pasar información entre programas si no se tiene en cuenta la longitud y tipo de datos.
                <br>
                -	Si la memoria es poca, puede separar el espacio que nunca se utiliza y podría hacer que el equipo no responda.
                
            </p>           
        </section>
        <hr>
        <!--Sección de inicio--></div>
        <!--Footer-->
        <div class="footer">     
            <div class="card-body" style="background-color:rgb(212, 212, 212)" >
            <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
                <p class="small m-0" >Omar Freddy Nova Bustamante</p>
                <p class="small m-0" >Juan Esteban Páez Albarracín</p>
                <p class="small " >Jossyr Rafael Pinto Caddevila</p>
            </div>       
        </div> 
        <!--Footer-->
</body>   
    <script src="{{url_for('static', filename='javascript/menu.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/prism.js')}}"></script>
</html>