<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/img-style/favicon.ico">
    <link href="{{url_for('static', filename='prism.css')}}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="img-style/descarga.png">
    <script src="{{url_for('static', filename='javascript/prism1.js')}}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
