{% extends "layout.html" %}

{% block content %}
    <title>Lista Circular Doblemente Enlzada</title></head>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
            <nav class="enlaces m-auto" style="font-size: medium;">
                <ul class="navbar-nav" >
                    <li class=" nav-item" >
                        <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                    </li> 
                    <li class="nav-item" >
                        <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                    </li> 
                </ul>                                  
            </nav>                           
    </nav>
</div>
    <div class="container">
        
        <h1>Lista Circular Doblemente Enlazada - Python</h1>
        </p>
        <pre>
            <code class="language-css" >
                class DoubleCircularList(ListInterface):
    
                def __init__(self):
                    self.clear()
                
                def DoubleCircularList(self,object):
                    self.add(object)
                
                def isEmpty(self):
                    return self.head == None
                
                def getSize(self):
                    return self.size
                
                def clear(self):
                    self.head = None
                    self.tail = None
                    self.size = 0
                    
                def getHead(self):
                    return self.head
                
                def getTail(self):
                    return self.tail
                
                def search(self,object):
                    aux = self.head
                    while aux != None:
                        if str(object) == str(aux.getObject()):
                            return aux
                        aux = aux.Next
                    return None
                
                def add(self,object):
                    return self.insertTail(object)
                
                def insert(self, Ob, object):
                    
                    if type(Ob) == type(ListNode()) :
                        if Ob != None:
                            node = self.search(Ob)
                            if node != None:
                                return self.insert(node,object)
                    else: 
                        try :
                            if Ob.Next == self.head :
                                self.add(object)
                            else: 
                                self.size += 1
                                newNode = ListNode.NodeObjNxtPre(object,Ob.Next,Ob)
                                newNode.Next.Previous = newNode
                                Ob.Next = newNode
            
                            return True
                        except:
                            return False
                        
                def insertHead(self,object) : 
                    try :
                        if self.isEmpty() :
                            self.head = ListNode.NodeObject(object);
                            self.tail = self.head
                            self.tail.Next = self.head
                            self.head.Previous = self.tail
                           
                        else :
                            self.head = ListNode.NodeObjNxtPre(object,self.head,self.tail)
                            self.head.Next.Previous = self.head
                            self.tail.Next = self.head
                    
                        self.size += 1
                            
                        return True
                    except:
                        return False
                    
                def insertTail(self,object) :
                    try :
                        if self.isEmpty() : 
                            self.head =  ListNode.NodeObject(object)
                            self.tail = self.head
                            self.tail.Next = self.head
                            self.head.Previous = self.tail
                        else :
                            self.tail.Next =  ListNode.NodeObjNxtPre(object, self.head,self.tail)
                            self.tail = self.tail.Next
                            self.head.Previous = self.tail
                        
                        self.size += 1
                        return True
                    except:
                        return False
                    
                def remove(self, object):
                    try:
                        if type(ListNode()) == type(object):
                            self.remove(object.getObject())
                        else:
                            if object != None:
                                eliminado = False
                                node = self.head
                                s = 0;
                                while eliminado == False and s < self.size :
                                    if node.getObject() == object :
                                        self.size -= 1
                                        eliminado = True
                                        if node.Previous == self.tail :
                                            self.head = self.head.Next
                                            self.head.Previous = self.tail
                                            self.tail.Next = self.head
                                        
                                        elif node == self.tail :
                                            node.Previous.Next = node.Next
                                            self.head.Previous = node.Previous
                                        else:
                                            node.Previous.Next = node.Next
                                    
                                
                                    s += 1
                                    node = node.Next
                            
                                return True
                        
                        return False
                    except:
                        return False
                    
                def contains(self, object):
                    return self.search(object) != None
                
                def toArray(self):
                    if self.isEmpty():
                        return np.zeros(0)
                    else:
                        a = self.head
                        o = np.zeros(self.size)
                        for i in range(0,self.size):
                            if(a == None):
                                break;
                            o[i] = a.getObject()
                            a = a.Next
                        return o
                
                def getBeforeTo(self):
                    try:
                        return self.head.Previous.getObject()
                    except:
                        return None
                
                def getBeforeToNode(self, node):
                    try:
                        return node.Previous
                    except:
                        return None
                
                def getNextTo(self):
                    return self.head.Next.getObject()
                
                def getNextToNode(self, node):
                    if type(node) == type(ListNode()):
                        try:
                            return node.Next.getObject()
                        except:
                            return None
                    else:
                        return None
                
                def subList(self, From, to):
                    try:
                        if self.isEmpty() == False:
                            subLista = DoubleCircularList()
                            if self.contains(From.getObject()) and self.contains(to.getObject()):
                                while From != to:
                                    subLista.add(From.getObject())
                                    From = From.Next
                                subLista.add(From.getObject())
                            return subLista
                    except:
                        return None
                    
                def sortList(self):
                    if(self.isEmpty() == False):
                        arr = self.toArray()
                        self.head = None
                        for i in range(self.getSize()):
                            for j in range(self.getSize()-1):
                                if arr[j] > arr[j+1]:
                                    temp = arr[j]
                                    arr[j] = arr[j+1]
                                    arr[j+1] = temp
                        for elemento in arr:
                            self.add(elemento)
                    else:
                        return None
                    
                def __iter__(self):
                    self.inode = self.head
                    return self
                
                def __next__(self):
                    if self.inode == None:
                        raise StopIteration
                    else:
                        item = self.inode.getObject()
                        self.inode = self.inode.Next
                        return item
                
                def __str__(self):
                    node = self.head
                    txt = ""
                    while node != None :
                        txt += "<->" + str(node.getObject()) + "<->"
                        node = node.Next
                    return txt
            </code>
        </pre>
        <br>
        <a href="/downloads/python/ListaCircularDoble.rar" download="ListaCircularDoble.rar" >Descargar código</a> 
    </div>
    <div class="footer">     
        <div class="card-body" style="background-color:rgb(212, 212, 212)" >
        <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
            <p class="small m-0" >Omar Freddy Nova Bustamante</p>
            <p class="small m-0" >Juan Esteban Páez Albarracín</p>
            <p class="small " >Jossyr Rafael Pinto Caddevila</p>
        </div>       
    </div> 
    <!--Footer-->
</body>   

{% endblock %}