<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/prism.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Circular Doblemente Enlzada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    
    <link rel="stylesheet" href="estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        
        <h1>Lista Circular Doblemente Enlazada - Python</h1>
        </p>
        <pre>
            <code class="language-css" >
                class DoubleCircularList(ListInterface):
    
                def __init__(self):
                    self.clear()
                
                def DoubleCircularList(self,Object):
                    self.add(Object)
                
                def isEmpty(self):
                    return self.head == None
                
                def getSize(self):
                    return self.size
                
                def clear(self):
                    self.head = None
                    self.tail = None
                    self.size = 0
                    
                def getHead(self):
                    return self.head
                
                def getTail(self):
                    return self.tail
                
                def search(self,Object):
                    aux = self.head
                    while aux != None:
                        if str(Object) == str(aux.getObject()):
                            return aux
                        aux = aux.Next
                    return None
                
                def add(self,Object):
                    return self.insertTail(Object)
                
                def insert(self, Ob, Object):
                    
                    if type(Ob) == type(ListNode()) :
                        if Ob != None:
                            node = self.search(Ob)
                            if node != None:
                                return self.insert(node,Object)
                    else: 
                        try :
                            if Ob.Next == self.head :
                                self.add(object)
                            else: 
                                self.size += 1
                                newNode = ListNode.NodeObjNxtPre(object,Ob.Next,Ob)
                                newNode.Next.Previous = newNode
                                Ob.Next = newNode
            
                            return True
                        except:
                            return False
                        
                def insertHead(self,Object) : 
                    try :
                        if self.isEmpty() :
                            self.head = ListNode.NodeObject(Object);
                            self.tail = self.head
                            self.tail.Next = self.head
                            self.head.Previous = self.tail
                           
                        else :
                            self.head = ListNode.NodeObjNxtPre(Object,self.head,self.tail)
                            self.head.Next.Previous = self.head
                            self.tail.Next = self.head
                    
                        self.size += 1
                            
                        return True
                    except:
                        return False
                    
                def insertTail(self,Object) :
                    try :
                        if self.isEmpty() : 
                            self.head =  ListNode.NodeObject(Object)
                            self.tail = self.head
                            self.tail.Next = self.head
                            self.head.Previous = self.tail
                        else :
                            self.tail.Next =  ListNode.NodeObjNxtPre(Object, self.head,self.tail)
                            self.tail = self.tail.Next
                            self.head.Previous = self.tail
                        
                        self.size += 1
                        return True
                    except:
                        return False
                    
                def remove(self, Object):
                    try:
                        if type(ListNode()) == type(Object):
                            self.remove(Object.getObject())
                        else:
                            if Object != None:
                                eliminado = False
                                node = self.head
                                s = 0;
                                while eliminado == False and s < self.size :
                                    if node.getObject() == Object :
                                        self.size -= 1
                                        eliminado = True
                                        if node.Previous == self.tail :
                                            self.head = self.head.Next
                                            self.head.Previous = self.tail
                                            self.tail.Next = self.head
                                        
                                        elif node == self.tail :
                                            node.Previous.Next = node.Next
                                            self.head.Previous = node.Previous
                                        else:
                                            node.Previous.Next = node.Next
                                    
                                
                                    s += 1
                                    node = node.Next
                            
                                return True
                        
                        return False
                    except:
                        return False
                    
                def contains(self, Object):
                    return self.search(Object) != None
                
                def toArray(self):
                    if self.isEmpty():
                        return np.zeros(0)
                    else:
                        a = self.head
                        o = np.zeros(self.size)
                        for i in range(0,self.size):
                            if(a == None):
                                break;
                            o[i] = a.getObject()
                            a = a.Next
                        return o
                
                def getBeforeTo(self):
                    try:
                        return self.head.Previous.getObject()
                    except:
                        return None
                
                def getBeforeToNode(self, node):
                    try:
                        return node.Previous
                    except:
                        return None
                
                def getNextTo(self):
                    return self.head.Next.getObject()
                
                def getNextToNode(self, node):
                    if type(node) == type(ListNode()):
                        try:
                            return node.Next.getObject()
                        except:
                            return None
                    else:
                        return None
                
                def subList(self, From, to):
                    try:
                        if self.isEmpty() == False:
                            subLista = DoubleCircularList()
                            if self.contains(From.getObject()) and self.contains(to.getObject()):
                                while From != to:
                                    subLista.add(From.getObject())
                                    From = From.Next
                                subLista.add(From.getObject())
                            return subLista
                    except:
                        return None
                    
                def sortList(self):
                    if(self.isEmpty() == False):
                        arr = self.toArray()
                        self.head = None
                        for i in range(self.getSize()):
                            for j in range(self.getSize()-1):
                                if arr[j] > arr[j+1]:
                                    temp = arr[j]
                                    arr[j] = arr[j+1]
                                    arr[j+1] = temp
                        for elemento in arr:
                            self.add(elemento)
                    else:
                        return None
                    
                def __iter__(self):
                    self.inode = self.head
                    return self
                
                def __next__(self):
                    if self.inode == None:
                        raise StopIteration
                    else:
                        item = self.inode.getObject()
                        self.inode = self.inode.Next
                        return item
                
                def __str__(self):
                    node = self.head
                    txt = ""
                    while node != None :
                        txt += "<->" + str(node.getObject()) + "<->"
                        node = node.Next
                    return txt
            </code>
        </pre>
        <br>
        <a href="/downloads/python/ListaCircularDoble.rar" download="ListaCircularDoble.rar" >Descargar código</a> 
    </div>
    <script src="/javascript/prism.js"></script>
</body>
</html>