{% extends "layout.html" %}

{% block content %}
    <title>ListNode</title></head>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li> 
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container">
        
        <h1>ListNode - Python</h1>
        </p>
        <pre>
            <code class="language-css" >
                # -*- coding: utf-8 -*-

                class ListNode:
                    Object = None
                    Next = None
                    Previous = None
                    
                    def __init__(self):
                        self.Object = None
                        self.Next = None
                        self.Previous = None
                        
                    @classmethod
                    def NodeObject(cls,Objecto):
                        Nodo = cls.__new__(cls)
                        Nodo.Object = Objecto
                        Nodo.Next = None
                        Nodo.Previous = None
                        return Nodo
                        
                    @classmethod
                    def NodeObjectNext(cls,Objecto, nxt):
                        Nodo = cls.__new__(cls)
                        Nodo.Object = Objecto
                        Nodo.Next = nxt
                        return Nodo
                    
                    @classmethod
                    def NodeObjNxtPre(cls,Objecto, nxt, pre):
                        Nodo = cls.__new__(cls)
                        Nodo.Object = Objecto
                        Nodo.Next = nxt
                        Nodo.Previous = pre
                        return Nodo
                    
                    def getObject(self):
                        return self.Object
                    
                    def setObject(self,Objecto):
                        self.Object = Objecto
                        
                    def __str__(self):
                        if self.Previous == None :
                            return "ListNode{Object=" + str(self.Object) + ", next=" + str(self.Next) + "}"
                        else:
                            try:
                                return "ListNode{Object=" + str(self.Object) + ", next=" + str(self.Next.getObject()) +", Previous =" +  str(self.Previous.getObject()) +  "}"
                            except:
                                return "ListNode{Object=" + str(self.Object) + ", next=" + "None" +", Previous =" +  str(self.Previous.getObject()) +  "}"
                    
                    def isEquals(self, Objecto):
                        if(type(ListNode()) == type(Objecto)):
                            return str(self).__eq__(str(Objecto))
                        else:
                            return self.Object.__eq__(Objecto)
                        return False
                    
                
            </code>
        </pre>

        
        <a href="/downloads/python/ListNode.py" download="ListNode.py" >Descargar código</a> 
    </div>
    <script src="/javascript/prism.js"></script>
    <div class="footer">     
        <div class="card-body" style="background-color:rgb(212, 212, 212)" >
        <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
            <p class="small m-0" >Omar Freddy Nova Bustamante</p>
            <p class="small m-0" >Juan Esteban Páez Albarracín</p>
            <p class="small " >Jossyr Rafael Pinto Caddevila</p>
        </div>       
    </div> 
    <!--Footer-->
</body>   
<script src="{{url_for('static', filename='javascript/menu.js')}}"></script>

</html>