{% extends "layout.html" %}

{% block content %}
    <title>ListNode</title></head>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li> 
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container">
        
        <h1>ListNode - Python</h1>
        </p>
        <pre>
            <code class="language-css" >
                # -*- coding: utf-8 -*-

                class ListNode:
                    object = None
                    Next = None
                    Previous = None
                    
                    def __init__(self):
                        self.object = None
                        self.Next = None
                        self.Previous = None
                        
                    @classmethod
                    def NodeObject(cls,objecto):
                        Nodo = cls.__new__(cls)
                        Nodo.object = objecto
                        Nodo.Next = None
                        Nodo.Previous = None
                        return Nodo
                        
                    @classmethod
                    def NodeObjectNext(cls,objecto, nxt):
                        Nodo = cls.__new__(cls)
                        Nodo.object = objecto
                        Nodo.Next = nxt
                        return Nodo
                    
                    @classmethod
                    def NodeObjNxtPre(cls,objecto, nxt, pre):
                        Nodo = cls.__new__(cls)
                        Nodo.object = objecto
                        Nodo.Next = nxt
                        Nodo.Previous = pre
                        return Nodo
                    
                    def getObject(self):
                        return self.object
                    
                    def setobject(self,objecto):
                        self.object = objecto
                        
                    def __str__(self):
                        if self.Previous == None :
                            return "ListNode{object=" + str(self.object) + ", next=" + str(self.Next) + "}"
                        else:
                            try:
                                return "ListNode{object=" + str(self.object) + ", next=" + str(self.Next.getObject()) +", Previous =" +  str(self.Previous.getObject()) +  "}"
                            except:
                                return "ListNode{object=" + str(self.object) + ", next=" + "None" +", Previous =" +  str(self.Previous.getObject()) +  "}"
                    
                    def isEquals(self, objecto):
                        if(type(ListNode()) == type(objecto)):
                            return str(self).__eq__(str(objecto))
                        else:
                            return self.object.__eq__(objecto)
                        return False
                    
                
            </code>
        </pre>

        
        <a href="/downloads/python/ListNode.py" download="ListNode.py" >Descargar código</a> 
    </div>
    <script src="/javascript/prism.js"></script>
</body>
</html>