{% extends "layout.html" %}

{% block content %}
    <title>Stack</title></head>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-collapse bg-secondary">           
                <nav class="enlaces m-auto" style="font-size: medium;">
                    <ul class="navbar-nav" >
                        <li class=" nav-item" >
                            <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('index')}}">Estructuras</a>
                        </li> 
                        <li class="nav-item" >
                            <a class="nav-link" href="{{url_for('modulo3')}}">Transformaciones</a>
                        </li> 
                    </ul>                                  
                </nav>                           
        </nav>
    </div>
    <div class="container">
        
        <h1>Pila basada en listas - Python</h1>
        
        <pre>
            <code class="language-css" >
                <h3>StackInterfaz</h3>

                # -*- coding: utf-8 -*-

                from abc import ABCMeta, abstractmethod
                
                class StackInterface(metaclass=ABCMeta):
                    @abstractmethod
                    def isEmpty(self):
                        pass
                    
                    @abstractmethod
                    def size(self):
                        pass
                    
                    @abstractmethod
                    def clear(self):
                        pass
                    
                    @abstractmethod
                    def search(self,Object):
                        pass
                    
                    @abstractmethod
                    def peek(self):
                        pass
                    
                    @abstractmethod
                    def pop(self):
                        pass
                    
                    @abstractmethod
                    def push(self,Object):
                        pass
                
                
                    @abstractmethod
                    def reverse(self):
                        pass
                
                    @abstractmethod
                    def sort(self):
                        pass
            </code>
        </pre>
        <pre>
            <code class="language-css" >
            <h3>ListStack</h3>
                # -*- coding: utf-8 -*-

                from ListNode import ListNode
                from StackInterface import StackInterface
                
                class ListStack(StackInterface):
                    Size = 0
                    top = ListNode()
                    
                    def __init__(self):
                        self.top = None
                        self.Size = 0
                        
                    def clear(self):
                        self.top = None
                        self.Size = 0
                    
                    def isEmpty(self):
                        return self.top == None
                    
                    def peek(self):
                        if self.isEmpty():
                            return None
                        else:
                            return self.top.getObject()
                    
                    def pop(self):
                        a = self.top.getObject()
                        self.top = self.top.Next
                        self.Size -= 1
                        return a
                    
                    def push(self,Object):
                        try:
                            nuevo = ListNode.NodeObject(Object)
                            nuevo.Next = self.top
                            self.top = nuevo
                            self.Size += 1
                            return True
                        except:
                            return False
                    
                    def size(self):
                        return self.Size
                    
                    def sort(self):
                        if(self.isEmpty() == False):
                            arr = list()
                            nodo = self.top
                            while nodo != None:
                                arr.append(nodo.getObject())
                                nodo = nodo.Next
                            self.top = None
                            for i in range(self.size()):
                                for j in range(self.size()-1):
                                    if arr[j] > arr[j+1]:
                                        temp = arr[j]
                                        arr[j] = arr[j+1]
                                        arr[j+1] = temp
                            for elemento in arr:
                                self.push(elemento)
                        else:
                            return None
                    
                    def search(self, Object) :
                        a = self.top
                        while a != null :
                            if a.getObject()  == Object :
                                return true
                            
                            a = a.Next
                        
                        return False
                    
                    
                    def reverse(self): 
                        a = ListStack()
                        b = self.top
                        while b != None :
                            a.push(b.getObject())
                            b = b.Next
                        
                        self.top = a.top
                        a = None
                
                    def __str__(self):
                        return str(self.top)              
            </code>
        </pre>

        
        <a href="{{url_for('static', filename='downloads/Python/Stack.rar')}}" download="Stack - Python.rar" >Descargar código</a> 
    </div>
    <div class="footer">     
        <div class="card-body" style="background-color:rgb(212, 212, 212)" >
        <h2 style="font-size: medium;" class="brand mb-3">Realizado por estudiantes de tercer semestre</h2>
            <p class="small m-0" >Omar Freddy Nova Bustamante</p>
            <p class="small m-0" >Juan Esteban Páez Albarracín</p>
            <p class="small " >Jossyr Rafael Pinto Caddevila</p>
        </div>       
    </div> 
    <!--Footer-->

<script src="{{url_for('static', filename='javascript/menu.js')}}"></script>

    {% endblock %}